.DS_Store
.DS_Store
.DS_Store
libraries/Adafruit*
libraries/arduino_146782
libraries/SD/.DS_Store
libraries/LC_baseTools
libraries/LC_lilParser
libraries/LC_quickCom
libraries/LC_blockFile
libraries/LC_neoPixel
libraries/SdFat
libraries/EnableInterrupt
libraries/RTClib
libraries/LC_eventLog
libraries/LC_Adafruit_684
libraries/LC_Adafruit_1431
libraries/LC_Adafruit_1947
libraries/LC_bmpFileTools
libraries/LC_GUIbase
libraries/LC_GUIItems
libraries/LC_offscreen
libraries/LC_RCTools
libraries/LC_SPI
libraries/LC_GUITextTools
libraries/AnimatedGIF
libraries/starTrekArduino/
forum_post/forum_post.ino
libraries/LC_comPlayer
libraries/LC_FONA
libraries/LC_handheld
