.DS_Store
.DS_Store
.DS_Store
forum_post/*
libraries/Adafruit*
libraries/arduino_146782
libraries/SD/.DS_Store
libraries/LC_baseTools
libraries/LC_lilParser
libraries/LC_quickCom
libraries/LC_blockFile
libraries/LC_neoPixel
libraries/SdFat
libraries/EnableInterrupt
libraries/RTClib
libraries/LC_eventLog
libraries/LC_Adafruit_684
libraries/LC_Adafruit_1431
libraries/LC_Adafruit_1947
libraries/LC_bmpFileTools
libraries/LC_GUIbase
libraries/LC_GUIItems
libraries/LC_offscreen
libraries/LC_RCTools
libraries/LC_SPI
libraries/LC_GUITextTools
libraries/LC_slowServo
libraries/AnimatedGIF
libraries/starTrekArduino/
forum_post/forum_post.ino
libraries/LC_comPlayer
libraries/LC_FONA
libraries/LC_handheld
libraries/Teensy-RAM-Monitor
libraries/ANSI/
libraries/LC_lilOS/
libraries/LC_SDTools/
libraries/WaveHC/
libraries/LC_teensy_1947
libraries/MD_MIDIFile*
libraries/MidiDmxB*
libraries/RPN_Calculator*
libraries/SD
libraries/LC_SD/
libraries/LC_docTools/
libraries/CAN*
libraries/LC_llama_NMEA2000
libraries/lvgl*
libraries/SdFat*
libraries/LC_llama2000*
libraries/LC_cardIndex*
libraries/arduino-CAN*
libraries/LC_DFRobot*
libraries/LC_Adafruit_GPS/
