.DS_Store
forum_post/*
libraries/AccelStepper
libraries/Adafruit*
libraries/arduino-CAN
libraries/DHT-sensor-library
*_t3

libraries/LC_*
libraries/LCP_*

libraries/No_Tomorrows

libraries/starTrekArduino


